
    .navbar-brand{
        padding-left: 2rem;
    }
    .card{
        padding: 1rem;
    }
    .container{
        padding: 1rem;
    }
    .weston_arial{
        width:100%;
    }
    .nav-item{
        font-size: 12px;
    }
    .navbar-nav{
        padding-left: 2rem;
    }
     .dropdown-item{
        font-size: 12px;
    }
    .dropdown-menu{
        background-color: #292b2c
    }
    .dropdown .dropdown-item{
        color: #949596;
    }
    h1{
        padding-top: 1rem
    }
     a:link {
    text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }
    .table{
        font-size: 12px;
    }